# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so*

# Compiled Static libraries
*.lai
*.la
*.a

# Qt
moc_*
*.pro.user*
*.autosave

# System
Makefile
.directory
*~

# Project
bin/
doc/
build/

